.header {
  background-color: #1F2937;
  display: flex;
  justify-content: center;
  border-bottom: 10px solid red;
}

.innerHeader {
  background-color: #1F2937;
  width: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 512px;
}

.logo {
  font-size: 24px;
  color: #F9FAF8;
}

a {
  /* this removes the line under our links */
  text-decoration: none;
  color: #E5E7EB;
  font-size: 18px;
}

ul {
  list-style-type: none;
  display: flex;
  grid-template-rows: 16px;
  margin: 0;
  padding: 0;
  gap: 16px;
}


/* First Block CSS */

.firstBlock {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 64px;
  border-bottom: 10px solid red;
}

.firstBlock img {
  width: 20%;
  height: auto;
}


/* Second Block CSS */

.secondBlock {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 64px;
  border-bottom: 10px solid red;
}

.images {
  width: 100px;
  height: 100px;
  padding: 32px;
  border: 2px solid #3882F6;
  border-radius: 10px;
}

.title {
  font-size: 36px;
  font-weight: 900;
  margin-bottom: 32px;
}

.container {
  display: flex;
  justify-content: center;
  gap: 52px;
}

.info {
  max-width: 200px;
}

.thirdBlock {
  background-color: #E5E7EB;
  padding-top: 32px;
  padding-bottom: 64px;
  display: flex;
  justify-content: center;
  border-bottom: 10px solid red;
}

.innerThird {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.quote {
  font-size: 36px;
  color: #1F2937;
  font-weight: 300;
  font-style: italic;
}

.author {
  font-size: 24px;
  color: #1F2937;
  font-weight: bold;
}

.fourthBlock {
  display: flex;
  justify-content: center;
  border-bottom: 10px solid red;
  padding-top: 64px;
  padding-bottom: 64px;
}

.modal {
  background: #3882F6;
  width: auto;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 64px;
  padding: 16px 300px 16px 300px;
}

.modalContainer {
  /* display: flex;
  gap: 16px;
  padding: 16px 64px 16px 64px;
  flex-direction: column;
  align-content: stretch;
  justify-content: center;
  align-items: flex-start; */
}

.signUp {
  padding: 8px 16px;
  border-radius: 8px;
  border: 1px solid #F9FAF8;
  color: #F9FAF8;
  white-space: nowrap;
}

.headerModal {
  color: #F9FAF8;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

.fourthBlock .text {
  color: #F9FAF8;
  margin-bottom: 16px;
}

.footer {
  /* position: fixed;
  bottom: 0;
  left: 0;
  right: 0; */
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1F2937;
  color: #F9FAF8;
}